# ---------------------------------- General ---------------------------------- #
NODE_ENV=production # The node environment your bot is running in. Available values: production, development
NEXT_PUBLIC_SITE_NAME="My App" # The name of your site. This is used for display purposes in the UI and emails.
NEXT_PUBLIC_SITE_URL="http://localhost:3000" # The base URL of your site. This is used for generating links in emails and other places.

# ---------------------------------- Docker (Compose) ---------------------------------- #
COMPOSE_FILE=docker/compose.yaml # The path to the Docker Compose file.
COMPOSE_PROJECT_NAME=my_app # The name of the Docker Compose project.
DOCKER_BUILDKIT=1 # Enable Docker BuildKit for better performance and features.
BUILDKIT_PROGRESS=plain # Show plain build output for better readability.

# ---------------------------------- Authentication (@md-oss/auth) ---------------------------------- #
BETTER_AUTH_SECRET="your-secret-key" # The secret key used for signing and verifying JWT tokens.
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000" # The base URL of your authentication server.
CORS_ORIGIN="http://localhost:3000" # The allowed origin for CORS requests.

# ---------------------------------- Database (@md-oss/db) ---------------------------------- #
POSTGRES_HOST=${DB_HOST:-localhost} # Change to "database" if using docker (compose)
POSTGRES_PORT=${DB_PORT:-5432} # The port your PostgreSQL server is running on. Default is 5432.
POSTGRES_USER=${DB_USER:-postgres} # The username for your PostgreSQL server. Default is "postgres".
POSTGRES_PASSWORD=${DB_PASSWORD:-} # The password for your PostgreSQL server.
POSTGRES_DB=my_app # The name of the database to connect to. Default is "my_app".

# The database URL for connecting to the (PostgreSQL) database. You generally don't
# need to change this, but you can if you want to use a different database or schema.
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public&pgbouncer=true"
