# Turbo and build artifacts
.turbo
tsconfig.tsbuildinfo

# Packages/dependencies
node_modules

# Build output
dist
build
.next

# Environment variables
.env
.env.local
.env.*.local

# Docker Build
docker/.buildx-cache
docker/context-report

# Local/Development files
TODO.md
.idea
sandbox
