name: Release

on:
  push:
    branches:
      - main

env:
  CI: true

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  packages: write
  id-token: write
  pull-requests: write # Note: Requires "Allow GitHub Actions to create and approve pull requests" for user account / organization
  # Note: Publishing requires "Workflows have read and write permissions in the repository for all scopes."
  # Note: If you're getting a write_package error, check https://github.com/orgs/YOUR_ORG/packages permissions.

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install -w --frozen-lockfile --filter={./vendor/*}

      - name: Sync license files
        run: pnpm tsx ./scripts/node/sync-licenses.ts

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: "chore: update versions"
          title: "chore: update versions"
          publish: pnpm publish:ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
